.game-container {
    width: 400px;
    height: 400px;
    border: 10px double purple;
}

.cell {
    width: 10px;
    height: 10px;
    float: left;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    box-sizing: border-box;
}

.cell-dead {
    background-color: white;
}

.cell-live {
    background-color: black;
}

.cell:nth-child(-n+40) {
    border-top: none;
}

.cell:nth-child(40n + 0) {
    border-right: none;
}

.buttons-bar {
    margin-top: 50px;
    margin-bottom: 20px;
}

.action-button {
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
    transition: all 0.1s;
    s -webkit-transition: all 0.1s;
}

.action-button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
}
